<h1>ToDo App</h1>

<ul class="list-group">
    <% todosList.forEach(o => { %>
    <% if(o.isActive) { %>
    <li class="list-group-item d-flex justify-content-between">
        <b><%= o.todo %></b>
        <div class="d-flex justify-content-end">
            <form action="/toggle" method="POST">
                <input type="hidden" name="id" value="<%= o.id %>" />
                <button type="submit" class="btn btn-link btn-lg mr-1 pull-right">Deactivate</button>
            </form>
            <form action="/delete" method="POST">
                <input type="hidden" name="id" value="<%= o.id %>" />
                <button type="submit" class="btn btn-danger btn-lg pull-right">Delete</button>
            </form>
        </div>
    </li>
    <% } %>
    <% if(!o.isActive) { %>
    <li class="list-group-item d-flex justify-content-between">
        <s><%= o.todo %></s>
        <div class="d-flex justify-content-end">
            <form action="/toggle" method="POST">
                <input type="hidden" name="id" value="<%= o.id %>" />
                <button type="submit" class="btn btn-success btn-lg mr-1 pull-right">Activate</button>
            </form>
            <form action="/delete" method="POST">
                <input type="hidden" name="id" value="<%= o.id %>" />
                <button type="submit" class="btn btn-danger btn-lg pull-right">Delete</button>
            </form>
        </div>
    </li>
    <% } %>
    <% }) %>
</ul>